# Ignore paths
[/spec/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

# shell formatting
[*.{sh,bash,zsh}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# format completions
[/completions/**]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
